.error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.msg {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#login-box {
    width: 400px;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid white;
    border-radius: 5px;
}

#login-box:hover{
    border:none;
}

#logo{
    width: 300px;
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    color:skyblue;
    font-size:24px;
}

#logotext{

}

#body{
    background-image: url("http://www.zorgnetwerktrento.be/sites/www.zorgnetwerktrento.be/files/styles/colorbox_large__1200x1200/public/media/jpg/68/1504_foto_trento_64.jpg?itok=f_aatcJU");
    background-repeat: no-repeat;
    background-size: cover;
}

#input{
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    margin-top:3px;
    margin-bottom: 3px;
    width: 95%;
    
    
}

#input.focus{
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

#loginbutton{
    width: 100%;
    color:white;
    background-color:skyblue;
    border:none;
    padding:10px;
}

#loginbutton:hover{
    background-color:indianred;
}

#logintable{
    width: 100%;
}